<mat-tab-group class="mat-elevation-z2">
  <mat-tab label="K" style="padding: 10px;">
    <div>
      <div style="padding: 10px;">
        <h1>Download All of the user data in K-anonymous format</h1>
        <button mat-raised-button color="primary" (click)="download('k')">
          <i class="fas fa-download"></i>
          Download
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="L" style="padding: 10px;">
    <div>
      <div style="padding: 10px;">
        <h1>Download All of the user data in L-anonymous format</h1>
        <button mat-raised-button color="primary" (click)="download('l')">
          <i class="fas fa-download"></i>
          Download
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="T" style="padding: 10px;">
    <div>
      <div style="padding: 10px;">
        <h1>Download All of the user data in T-anonymous format</h1>
        <button mat-raised-button color="primary" (click)="download('t')">
          <i class="fas fa-download"></i>
          Download
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
